/* Base reset and global element defaults */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul,
menu {
  list-style: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

img,
video {
  height: auto;
}

button,
input,
select,
optgroup,
textarea {
  font: inherit;
  color: inherit;
  background: transparent;
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
